<div class="education">
    <ul class="education-list">
        <li>2020  – till now: <i><b> Master’s degree, Computer and software engineering</b></i></li>
        <ul>
            <li><i>Technical university of Sofia, Bulgaria, Sofia</i></li>
        </ul><br>
        <li>2013 – 2020 <i><b> Bachelor’s degree, Computer and software engineering</b></i></li>
         <ul>
            <li><i>Technical university of Sofia, Bulgaria, Sofia</i></li>
        </ul><br>
        <li>2008 – 2013 <i><b> High school degree, Computer networks</b></i></li>
         <ul>
            <li><i>Professional School of Mechanical and Electrical Engineering, Bulgaria, Pazardzhik</i></li>
        </ul><br>
    </ul>

</div>
