.home-tab {
    background-color: #D8BFD8;
}
.home-tab h1 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.home-tab h2 {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}