<div class="home-page">
  <h1>Elly's Personal Website</h1>
  <p-tabMenu [model]="tabs"></p-tabMenu>
  <div class="tab-conent">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <a target="_blank" href="https://www.facebook.com/eleonora.poibrenska/" class="fa fa-facebook"></a> &nbsp;
    <a target="_blank" href="https://www.linkedin.com/in/eleonora-poibrenska-0a373948" class="fa fa-linkedin"></a>
  </div>
</div>