<div class="skills">
    <br><br>
    <p-fieldset legend="Programming languages" [toggleable]="true" styleClass="fieldSetStyle">
        <ul class="skills-list">
            <li>Java</li>
            <li>C/C++</li>
            <li>C Sharp</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Angular</li>
        </ul>
    </p-fieldset><br><br>
    <p-fieldset legend="Markup and style languages" [toggleable]="true">
        <ul class="skills-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>SCSS</li>
        </ul>
    </p-fieldset><br><br>
    <p-fieldset legend="DataBases" [toggleable]="true">
        <ul class="skills-list">
            <li>MySQL</li>
            <li>MongoDB</li>
            <li>Database library</li>
            <li>LiquiBase</li>
        </ul>
    </p-fieldset><br><br>
    <p-fieldset legend="Frameworks" [toggleable]="true">
        <ul class="skills-list">
            <li>Spring MVC</li>
            <li>Spring Boot</li>
            <li>Hibernate</li>
        </ul>
    </p-fieldset><br><br>
    <p-fieldset legend="Web Services" [toggleable]="true">
        <ul class="skills-list">
            <li>SOAP</li>
            <li>REST</li>
        </ul>
    </p-fieldset><br><br>
    <p-fieldset legend="Other Competencies" [toggleable]="true">
        <ul class="skills-list">
            <li>Docker</li>
            <li>Jenkins</li>
            <li>GIT</li>
            <li>JHipster</li>
            <li>Microservices</li>
            <li>Agile Software Development Tools - Jira and Confluence</li>
            <li>Latex</li>
        </ul>
    </p-fieldset><br><br>
    <p-fieldset legend="Additional Courses" [toggleable]="true">
        <ul class="skills-list">
            <li>Certificate of professional qualification:</li>
            <ul>
                <li>Technician of computer systems - 3rd Grade</li>
            </ul>
            <li>Cisco CCNA Exploration 1 - April 2009</li>
            <li>Certificate in Spanish - A1/A2</li>
        </ul>
    </p-fieldset>
</div>