<div class="work-experience">
    <ul class="experience-list">
        <li>September 2018 – till now: <i><b> Blubito GmbH, Bulgaria, Sofia</b></i></li>
        <ul>
            <li><i>Java developer</i></li>
        </ul><br>
        <li>April 2017 – September 2018: <i><b> A4E, Bulgaria, Sofia</b></i></li>
         <ul>
            <li><i>Junior Full stack developer</i></li>
        </ul><br>
    </ul>
    <p-button (onClick)="onSubmit()" label="Download CV" icon="pi pi-download"></p-button>
</div>